* {
  overflow-x: hidden;
  text-align: center;
}

.app_image {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  filter: brightness(70%);
  position: fixed;
}

::-webkit-scrollbar {
  display: none;
}

.app_filter, .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

td {
  color: rgba(200,235,250);
}

option {
  color: black;
}

.app_table tr td, th {
  border: 1px solid rgba(150,150,150);
  /* width: auto; */
  text-align: center;
  padding: 10px;
}

.app_filter {
  margin-bottom: 30px;
  z-index: 99;
}

.filter_options {
  display: flex;
  justify-content: space-around;
}

.option {
  display: flex;
  margin-right: auto;
}

.success {
  color: lightgreen;
}

.fail {
  color: rgba(255,100,100);
}

.app_table {
  border-collapse: collapse;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
}